.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  border: none;
  bottom: 0;
  height: 30px;
  background: transparent;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid transparent;
  transition: 0.3s ease-in;

  &:hover {
    border-top-color: white;
  }
}