body {
  background: white;
}

header {
  background-image: url('/assets/images/F100009796.jpg');
  color:white;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  flex-direction: row;
  display:flex;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5rem;
}

.site-heading span {
  font-size: 2rem;
}

header > .container {
  background: rgba(0, 0, 0, 0.5);
  flex: 1;
  display:flex;
  content:' ';
  justify-content: center;
  flex-direction: row;
}

.site-heading {
  padding: 150px 0;
}

.menu {
  color:white;
  background:black;
  width:64px;
  height:64px;
  border-radius: 32px;
  position:absolute;
  top: 15px;
  left: 15px;
}

.menu-toogler {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:64px;
  cursor: pointer;
}

.menu-toogler:hover {
  transform: scale(1.1);
}

.hamburger {
  margin:3px;
  display:block;
  content: ' ';
  height:3px;
  background: white;
  width: 40px;
}
