* {
  font-family: 'Raleway', sans-serif;
}

body {
  background: white;
  overflow-x: hidden; 
}

.box{
  height: 25vh;
  line-height: 25vh;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}

.box {
  color:white !important;
  text-decoration: none;
}

a {
  color: white !important;
}

a:hover {
  color:white !important;
  text-decoration: none;
}

.flippable {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .flippable:hover .flipper, .flippable.hover .flipper {
    transform: rotateY(180deg);
  }

.flippable, .front, .back {
  height: 25vh;
  width:calc(25vw - 4px);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}