.mainContainer {
  width: 100%;
  min-height: 100vh;
  background: black;

  * {
    font-family: 'Poppins', sans-serif;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;

  .navbarList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  .navbarItem {
    list-style: none;

    a {
      text-transform: uppercase;
      display: flex;
      align-content: center;
      padding: 10px;
      text-decoration: none;
      margin-left: 15px;
      border-bottom: 1px solid white;
    }
  }
}